<template>
  <div class="catalog-item">
    <div class="catalog-item__images">
      <swiper class="swiper catalog-item__swiper" ref="catalog_item_swiper" :options="swiperOption">
        <swiper-slide v-for="(item, index) in catalogImages" :key="index">
          <div class="catalog-item__holder">
            <img :src="item.img" alt="" class="catalog-item__img" />
          </div>
        </swiper-slide>
        <div
          class="swiper-pagination swiper-pagination-white"
          slot="pagination"
        ></div>
      </swiper>
      <div class="catalog-item__swiper-arrow catalog-item__swiper-arrow--prev" @click="prevSlide"></div>
      <div class="catalog-item__swiper-arrow catalog-item__swiper-arrow--next" @click="nextSlide"></div>
    </div>
    <div class="catalog-item__content">
      <div class="catalog-item__name">Апартаменты с 1-й спальней</div>
      <div class="catalog-item__location">
        <div class="catalog-item__location-item">
          <svg class="catalog-item__location-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.75 9.99997C19.7507 8.49898 19.3155 7.03009 18.4973 5.77172C17.6791 4.51335 16.5131 3.51965 15.1409 2.91134C13.7687 2.30302 12.2494 2.10627 10.7675 2.34497C9.28562 2.58368 7.90494 3.24757 6.79318 4.256C5.68141 5.26444 4.88641 6.57402 4.50474 8.02567C4.12307 9.47732 4.17115 11.0086 4.64315 12.4334C5.11515 13.8582 5.99075 15.1154 7.1636 16.0521C8.33644 16.9888 9.75606 17.5647 11.25 17.71V22H12.75V17.71C14.6651 17.5215 16.4418 16.6282 17.7353 15.2035C19.0288 13.7788 19.7469 11.9243 19.75 9.99997ZM12 11.25C11.7528 11.25 11.5111 11.1767 11.3055 11.0393C11.1 10.902 10.9398 10.7067 10.8452 10.4783C10.7505 10.2499 10.7258 9.99858 10.774 9.7561C10.8222 9.51363 10.9413 9.2909 11.1161 9.11608C11.2909 8.94127 11.5137 8.82222 11.7561 8.77398C11.9986 8.72575 12.2499 8.75051 12.4784 8.84512C12.7068 8.93973 12.902 9.09994 13.0393 9.3055C13.1767 9.51107 13.25 9.75274 13.25 9.99997C13.25 10.3315 13.1183 10.6494 12.8839 10.8839C12.6495 11.1183 12.3315 11.25 12 11.25ZM12.75 16.2V12.63C13.3886 12.4489 13.9402 12.0431 14.3029 11.4872C14.6657 10.9314 14.8152 10.263 14.7238 9.60561C14.6324 8.94817 14.3063 8.34597 13.8057 7.91013C13.3051 7.47429 12.6638 7.23422 12 7.23422C11.3362 7.23422 10.6949 7.47429 10.1943 7.91013C9.69365 8.34597 9.36757 8.94817 9.27619 9.60561C9.1848 10.263 9.33429 10.9314 9.69706 11.4872C10.0598 12.0431 10.6114 12.4489 11.25 12.63V16.2C9.66894 16.0089 8.22047 15.2214 7.20039 13.9984C6.18031 12.7754 5.66557 11.2091 5.7613 9.61945C5.85703 8.02976 6.556 6.53658 7.71546 5.44483C8.87493 4.35308 10.4074 3.74513 12 3.74513C13.5926 3.74513 15.1251 4.35308 16.2845 5.44483C17.444 6.53658 18.143 8.02976 18.2387 9.61945C18.3344 11.2091 17.8197 12.7754 16.7996 13.9984C15.7795 15.2214 14.3311 16.0089 12.75 16.2Z" fill="#5C5A55"/>
          </svg>
          RozaRossa
        </div>
        <div class="catalog-item__location-item">
          <svg class="catalog-item__location-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2.25C10.0716 2.25 8.18657 2.82183 6.58319 3.89317C4.97982 4.96452 3.73013 6.48726 2.99218 8.26884C2.25422 10.0504 2.06114 12.0108 2.43735 13.9021C2.81355 15.7934 3.74215 17.5307 5.10571 18.8943C6.46928 20.2579 8.20656 21.1865 10.0979 21.5627C11.9892 21.9389 13.9496 21.7458 15.7312 21.0078C17.5127 20.2699 19.0355 19.0202 20.1068 17.4168C21.1782 15.8134 21.75 13.9284 21.75 12C21.7474 9.41495 20.7193 6.93654 18.8914 5.10863C17.0635 3.28073 14.5851 2.25265 12 2.25ZM12 20.25C10.3683 20.25 8.77326 19.7661 7.41655 18.8596C6.05984 17.9531 5.00242 16.6646 4.378 15.1571C3.75358 13.6496 3.5902 11.9908 3.90853 10.3905C4.22685 8.79016 5.01259 7.32015 6.16637 6.16637C7.32016 5.01259 8.79017 4.22685 10.3905 3.90852C11.9909 3.59019 13.6497 3.75357 15.1571 4.37799C16.6646 5.00242 17.9531 6.05984 18.8596 7.41655C19.7661 8.77325 20.25 10.3683 20.25 12C20.2474 14.1872 19.3773 16.2841 17.8307 17.8307C16.2841 19.3773 14.1872 20.2474 12 20.25Z" fill="#5C5A55"/>
            <path d="M17.26 14.69L14.48 7.37L12.03 11.87L9.59 7.37L6.8 14.69H6.07V15.69H9.94V14.69H9.29L10.09 12.4L12.03 15.77L13.97 12.4L14.78 14.69H14.13V15.69H18V14.69H17.26Z" fill="#5C5A55"/>
          </svg>
          Парк Культуры
        </div>
      </div>
      <div class="catalog-item__info">
        <div class="catalog-item__info-item">
          <span class="catalog-item__info-title">Площадь: </span>
          <span class="catalog-item__info-caption">33 м2</span>
        </div>
        <div class="catalog-item__info-item">
          <span class="catalog-item__info-title">Этаж: </span>
          <span class="catalog-item__info-caption">4</span>
        </div>
        <div class="catalog-item__info-item">
          <span class="catalog-item__info-title">Спальни: </span>
          <span class="catalog-item__info-caption">0</span>
        </div>
      </div>
      <div class="catalog-item__price">
        <div class="catalog-item__price-full">29 190 000 ₽</div>
        <div class="catalog-item__price-caption">885 000 ₽ / м2</div>
      </div>
      <div class="catalog-item__buttons">
        <button class="btn btn--primary">Назначить просмотр</button>
        <button class="btn btn--default">Детали</button>
      </div>
      <div class="catalog-item__favorite">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 21.0599L4.08003 13.1399C3.04436 12.1042 2.46252 10.6996 2.46252 9.23491C2.46252 7.77025 3.04436 6.36558 4.08003 5.32991C5.1157 4.29424 6.52037 3.7124 7.98503 3.7124C9.44969 3.7124 10.8544 4.29424 11.89 5.32991L12 5.44991L12.11 5.32991C13.1457 4.29424 14.5504 3.7124 16.015 3.7124C17.4797 3.7124 18.8844 4.29424 19.92 5.32991C20.9557 6.36558 21.5375 7.77025 21.5375 9.23491C21.5375 10.6996 20.9557 12.1042 19.92 13.1399L12 21.0599ZM8.00003 5.21991C7.20137 5.21117 6.41838 5.44173 5.75191 5.88189C5.08543 6.32205 4.56599 6.95166 4.26048 7.68963C3.95496 8.42759 3.87737 9.24012 4.03769 10.0226C4.19801 10.805 4.58891 11.5216 5.16003 12.0799L12 18.9399L18.86 12.0799C19.6146 11.3254 20.0385 10.302 20.0385 9.23491C20.0385 8.16782 19.6146 7.14445 18.86 6.38991C18.1055 5.63537 17.0821 5.21147 16.015 5.21147C14.9479 5.21147 13.9246 5.63537 13.17 6.38991L12 7.56991L10.83 6.38991C10.4583 6.01857 10.017 5.72411 9.53143 5.52336C9.04585 5.32261 8.52547 5.21949 8.00003 5.21991Z" fill="#5C5A55"/>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/css/swiper.css";

export default {
  components: {
    Swiper,
    SwiperSlide
  },
  data: function() {
    return {
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 15,
        effect: 'fade',
        pagination: {
          el: ".swiper-pagination",
          type: "bullets",
        },
      },
      catalogImages: [
        {
          img: require("../../assets/images/catalog_img_1.jpg"),
        },
        {
          img: require("../../assets/images/catalog_img_2.jpg"),
        },
        {
          img: require("../../assets/images/catalog_img_3.jpg"),
        },
      ],
    }
  },
  methods: {
    nextSlide() {
      this.$refs.catalog_item_swiper.$swiper.slideNext();
    },
    prevSlide() {
      this.$refs.catalog_item_swiper.$swiper.slidePrev();
    },
  }
}
</script>

<style lang="scss">
.catalog-item {
  display: flex;
  background: $whitePrimary;
  box-shadow: $shadowPrimary;
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 16px;

  &__swiper {
    .swiper-slide {
      height: auto;
    }

    .swiper-pagination {
      width: auto;
      left: 50px;
      right: 50px;
      bottom: 16px;
    }

    .swiper-pagination-bullet {
      opacity: 1;
      width: 8px;
      height: 8px;
      background: rgba($whitePrimary, 0.56);
      transition: $primaryTransition;
    }

    .swiper-pagination-bullet-active {
      background-color: $orangePrimary;
      transform: scale(1.5);
    }
  }

  &__swiper-arrow {
    cursor: pointer;
    z-index: 999;
    position: absolute;
    bottom: 8px;
    width: 24px;
    height: 24px;
    background-image: url('../../assets/images/slider_arrow.svg');
  }

  &__swiper-arrow--prev {
    left: 16px;
  }

  &__swiper-arrow--next {
    right: 16px;
    transform: rotate(-180deg);
  }

  &__images {
    font-size: 0;
    line-height: 1;
    position: relative;
    width: 330px;
  }

  &__holder {
    border-radius: 8px;
    overflow: hidden;
  }

  &__holder:after {
    content: '';
    position: absolute;
    top: 39%;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.00518832) 6.67%, rgba(0, 0, 0, 0.021306) 13.33%, rgba(0, 0, 0, 0.0489959) 20%, rgba(0, 0, 0, 0.0884468) 26.67%, rgba(0, 0, 0, 0.139065) 33.33%, rgba(0, 0, 0, 0.19913) 40%, rgba(0, 0, 0, 0.265615) 46.67%, rgba(0, 0, 0, 0.334385) 53.33%, rgba(0, 0, 0, 0.40087) 60%, rgba(0, 0, 0, 0.460935) 66.67%, rgba(0, 0, 0, 0.511553) 73.33%, rgba(0, 0, 0, 0.551004) 80%, rgba(0, 0, 0, 0.578694) 86.67%, rgba(0, 0, 0, 0.594812) 93.33%, rgba(0, 0, 0, 0.6) 100%);
    border-radius: 0px 0px 8px 8px;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__content {
    position: relative;
    flex: 2;
    padding-right: 30px;
    margin-left: 32px;
  }

  &__name {
    font-family: $accentFamily;
    color: $greyPrimary;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
  }

  &__location {
    display: flex;
    margin-bottom: 10px;
  }

  &__location-item {
    display: flex;
    color: $greyMedium;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 30px;
  }

  &__location-icon {
    margin-right: 10px;
  }

  &__buttons {
    display: flex;
    margin-left: -8px;

    .btn {
      margin-right: 8px;
    }
  }

  &__info {
    position: relative;
    display: flex;
    padding-bottom: 34px;
  }

  &__info:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 18px;
    width: 56px;
    height: 2px;
    background: $bronsePrimary;
  }

  &__info-item {
    color: $greyMedium;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 24px;
  }

  &__info-title {
    margin-right: 8px;
  }

  &__info-caption {
    color: $greyPrimary;
  }

  &__price {
    margin-bottom: 20px;
  }

  &__price-full {
    font-family: $accentFamily;
    color: $greyPrimary;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0.2px;
    margin-bottom: 3px;
  }

  &__price-caption {
    color: $greyMedium;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.004em;
  }

  &__favorite {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
}
</style>