<template>
  <div class="container-fluid">
    <div class="catalog">
      <Sidebar />
      <Main />
    </div>
  </div>
</template>

<script>
import Sidebar from "@/components/catalog/Sidebar.vue"
import Main from "@/components/catalog/Main.vue"
export default {
  components: {
    Sidebar,
    Main
  }
}
</script>

<style lang="scss" scoped>
.catalog {
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
}
</style>