<template>
  <div class="catalog__main">
    <Tabs />
    <form class="catalog__search">
      <div class="catalog__search-field">
        <button type="submit" class="catalog__search-btn">
          <svg class="catalog__search-icon" width="24" height="24" viewBox="0 0 24 24" fill="#5C5A55" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.14 20.0801L17.45 16.3901C18.8087 14.7587 19.4861 12.6663 19.3413 10.5481C19.1966 8.42996 18.2408 6.44916 16.6728 5.01773C15.1049 3.5863 13.0454 2.81445 10.9229 2.86273C8.80034 2.91102 6.77812 3.77572 5.27688 5.27697C3.77563 6.77822 2.91092 8.80043 2.86264 10.923C2.81436 13.0455 3.58621 15.105 5.01764 16.6729C6.44906 18.2409 8.42987 19.1966 10.548 19.3414C12.6662 19.4862 14.7586 18.8088 16.39 17.4501L20.08 21.1401L21.14 20.0801ZM11.14 17.8601C9.80499 17.8601 8.49994 17.4642 7.38991 16.7225C6.27988 15.9808 5.41472 14.9266 4.90383 13.6932C4.39293 12.4598 4.25926 11.1026 4.51971 9.79324C4.78016 8.48387 5.42304 7.28114 6.36704 6.33713C7.31105 5.39313 8.51378 4.75025 9.82315 4.4898C11.1325 4.22935 12.4897 4.36302 13.7231 4.87392C14.9565 5.38481 16.0107 6.24997 16.7524 7.36C17.4941 8.47004 17.89 9.77508 17.89 11.1101C17.8887 11.9987 17.7122 12.8783 17.3707 13.6986C17.0291 14.5189 16.5292 15.2638 15.8995 15.8908C15.2697 16.5177 14.5226 17.0143 13.7008 17.3522C12.879 17.6902 11.9986 17.8627 11.11 17.8601H11.14Z" />
          </svg>
        </button>
        <input type="text" placeholder="Комплекс, улица, район или метро" class="catalog__search-input">
      </div>
      <div class="catalog__search-filters">
        <div class="catalog__search-filter">
          По алфавиту
          <div class="catalog__search-filter-caption">А ― Я</div>
        </div>
      </div>
    </form>
    <div class="catalog__list">
      <catalogItem />
      <catalogItem />
      <catalogItem />
      <catalogItem />
      <catalogItem />
      <catalogItem />
      <catalogItem />
      <catalogItem />
      <div class="catalog__list-more">
        <button class="btn btn--sm btn--default">Показать ещё</button>
      </div>
    </div>
  </div>
</template>

<script>
import Tabs from "@/components/Tabs.vue"
import catalogItem from "@/components/catalog/catalogItem.vue"

export default {
    components: {
      Tabs,
      catalogItem
      // Swiper,
      // SwiperSlide
    }
}
</script>

<style lang="scss" scoped>
.catalog {
  &__main {
    flex: 1;
    padding-left: 24px;
  }

  &__search {
    display: flex;
    margin-bottom: 24px;
  }

  &__search-field {
    flex: 2;
    display: flex;
    align-items: center;
    background: $greyUltraLight;
    border: 2px solid $greyUltraLight;  
    border-radius: 48px;
    padding: 2px 8px 0;
    margin-right: 24px;
    transition: $primaryTransition;
  }

  &__search-field:focus-within {
    border-color: $greyPrimary;

    .catalog__search-btn svg {
      fill: $greyPrimary;
    }
  }

  &__search-input {
    background-color: transparent;
    padding: 0;
    border: 0;
    width: 100%;
    color: $greyPrimary;
    font-size: 14px;
    line-height: 1.5;
    padding: 11px 8px;
  }

  &__search-input::placeholder {
    color: $greyMedium;
  }

  &__search-input:focus {
    outline: none;
  }

  &__search-btn {
    border: 0;
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
  }

  &__search-btn svg {
    transition: $primaryTransition;
  }

  &__search-filters {
    flex: 1;
    width: 330px;
  }

  &__search-filter {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $whitePrimary;
    border: 2px solid $greyLight;
    border-radius: 48px;
    padding: 11px 24px 12px;
    padding-right: 64px;
    color: $greyMedium;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    transition: $primaryTransition;
  }

  &__search-filter-caption {
    color: $greyMedium;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.004em;
  }

  &__search-filter:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    background-image: url("../../assets/images/select_arrow.svg");
  }

  &__search-filter:focus-within {
    border-color: $greyPrimary;
  }

  &__list-more {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }

  &__list-more .btn {
    position: relative;
  }

  &__list-more .btn:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 600px;
    margin-top: -1px;
    right: calc(100% + 16px);
    height: 2px;
    background-color: rgba($orangePrimary, 0.32);
  }

  &__list-more .btn:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 600px;
    margin-top: -1px;
    left: calc(100% + 16px);
    height: 2px;
    background-color: rgba($orangePrimary, 0.32);
  }
}
</style>