<template>
  <div class="catalog__sidebar">
    <div class="catalog__sidebar-item">
      <h3 class="catalog__sidebar-title">Отображение</h3>
      <div class="catalog__sidebar-buttons">
        <button class="btn btn--sm btn--has-icon btn--secondary active">
          <svg class="btn__icon" width="24" height="24" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path d="M21 6.25H7V7.75H21V6.25Z" />
            <path d="M21 11.25H7V12.75H21V11.25Z" />
            <path d="M21 16.25H7V17.75H21V16.25Z" />
            <path d="M5 6.25H3V7.75H5V6.25Z" />
            <path d="M5 11.25H3V12.75H5V11.25Z" />
            <path d="M5 16.25H3V17.75H5V16.25Z" />
          </svg>
          Список
        </button>
        <button class="btn btn--sm btn--has-icon btn--secondary">
          <svg class="btn__icon" width="24" height="24" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 6.35993L9 4.19993L2.25 6.62993V20.0699L9 17.6399L15 19.7999L21.75 17.3699V3.92993L15 6.35993ZM9.75 6.06993L14.25 7.67993V17.9299L9.75 16.3199V6.06993ZM3.75 7.67993L8.25 6.06993V16.3199L3.75 17.9299V7.67993ZM20.25 16.3199L15.75 17.9299V7.67993L20.25 6.06993V16.3199Z" />
          </svg>
          Карта
        </button>
      </div>
    </div>
    <div class="catalog__sidebar-item">
      <h3 class="catalog__sidebar-title">Цена</h3>
      <div class="catalog__sidebar-currency">
        <button class="catalog__sidebar-currency_item catalog__sidebar-currency_item--active">₽</button>
        <button class="catalog__sidebar-currency_item">$</button>
        <button class="catalog__sidebar-currency_item">€</button>
      </div>
      <Slider @sliderParam="priceValue" :value="price" :min="0" :max="1000000000" :interval="10000" />
      <div class="catalog__sidebar-info">
        <div class="catalog__sidebar-accent">{{price[0]}} ₽ </div>
        <div class="catalog__sidebar-accent">{{price[1]}} ₽ </div>
      </div>
    </div>
    <div class="catalog__sidebar-item">
      <h3 class="catalog__sidebar-title">Площадь</h3>
      <Slider @sliderParam="squareValue" :value="square" :min="0" :max="1000" :interval="1" />
      <div class="catalog__sidebar-info">
        <div class="catalog__sidebar-accent">{{square[0]}} м2</div>
        <div class="catalog__sidebar-accent">{{square[1]}} м2</div>
      </div>
    </div>
    <div class="catalog__sidebar-item">
      <h3 class="catalog__sidebar-title">Количество спален</h3>
      <Slider @sliderParam="bedroomsValue" :value="bedrooms" :min="0" :max="100" :interval="1" />
      <div class="catalog__sidebar-info">
        <div class="catalog__sidebar-accent">{{bedrooms[0]}}</div>
        <div class="catalog__sidebar-accent">{{bedrooms[1]}}</div>

      </div>
    </div>
    <div class="catalog__sidebar-item">
      <h3 class="catalog__sidebar-title">Жилые комплексы</h3>
      <div class="catalog__sidebar-checkbox_list">
        <div class="catalog__sidebar-checkbox" v-for="(item, index) in checkboxList_1" :key="index">
          <CheckBox :caption="item.caption" />
          <div class="catalog__sidebar-accent catalog__sidebar-accent--sm">{{item.num}}</div>
        </div>
        <a href="" class="catalog__sidebar-more">Показать ещё</a>
      </div>
    </div>
    <div class="catalog__sidebar-item">
      <h3 class="catalog__sidebar-title">Внутренняя отделка</h3>
      <div class="catalog__sidebar-checkbox_list">
        <div class="catalog__sidebar-checkbox" v-for="(item, index) in checkboxList_2" :key="index">
          <CheckBox :caption="item.caption" />
          <div class="catalog__sidebar-accent catalog__sidebar-accent--sm">{{item.num}}</div>
        </div>
      </div>
    </div>
    <div class="catalog__sidebar-item">
      <h3 class="catalog__sidebar-title">Близость к метро</h3>
      <div class="catalog__sidebar-checkbox_list">
        <div class="catalog__sidebar-checkbox" v-for="(item, index) in checkboxList_3" :key="index">
          <CheckBox :caption="item.caption" />
          <div class="catalog__sidebar-accent catalog__sidebar-accent--sm">{{item.num}}</div>
        </div>
        <a href="" class="catalog__sidebar-more">Показать ещё</a>
      </div>
    </div>
    <button class="btn btn--secondary catalog__reset">Сбросить фильтры</button>
  </div>
</template>
<script>
import CheckBox from "@/components/form/checkBox.vue"
import Slider from "@/components/form/formSlider.vue"

export default {
  components: {
    CheckBox,
    Slider
  },
  data: function() {
    return {
      price: [100000000, 300000000],
      square: [26, 700],
      bedrooms: [3, 12],
      checkboxList_1: [
        {
          caption: "Пироговская, 14",
          num: "53"
        },
        {
          caption: "Барыковские палаты",
          num: "11"
        },
        {
          caption: "Европкинский, 16",
          num: "2"
        },
        {
          caption: "Коробейников, 18",
          num: "1"
        },
        {
          caption: "Пироговская, 14",
          num: "53"
        },
        {
          caption: "Crystal House",
          num: "12"
        },
        {
          caption: "Light House ",
          num: "2"
        },
      ],
      checkboxList_2: [
        {
          caption: "Whitebox",
          num: "3"
        },
        {
          caption: "С отделкой",
          num: "351"
        },
        {
          caption: "Без отделки",
          num: "175"
        },
      ],
      checkboxList_3: [
        {
          caption: "Аэропорт",
          num: "35"
        },
        {
          caption: "Авиамоторная",
          num: "1"
        },
        {
          caption: "Домодедовская",
          num: "4"
        },
        {
          caption: "Таганская",
          num: "8"
        },
        {
          caption: "Маяковская",
          num: "12"
        },
        {
          caption: "Чкаловская",
          num: "4"
        },
        {
          caption: "Динамо ",
          num: "9"
        },
      ],
    }
  },
  methods: {
    priceValue(value) {
      this.price = value;
    },
    squareValue(value) {
      this.square = value;
    },
    bedroomsValue(value) {
      this.bedrooms = value;
    }
  }
}
</script>

<style lang="scss" scoped>
.catalog__sidebar {
  width: 330px;
  background-color: $jeansPrimary;
  border-radius: 24px;
  padding: 24px;

  &-title {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 12px;
  }

  &-buttons {
    display: flex;
    align-items: flex-start;
    .btn {
      margin-right: 8px;
    }
  }

  &-item {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 24px;
  }

  &-currency {
    display: flex;
    margin-bottom: 24px;
  }

  &-currency_item {
    background-color: transparent;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $whitePrimary;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    border: 1px solid rgba(255, 255, 255, 0.56);
    border-radius: 50%;
    margin-right: 8px;
  }

  &-currency_item--active {
    color: $jeansPrimary;
    background-color: $whitePrimary;

  }

  &-checkbox {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-info {
    display: flex;
    margin: 20px -12px 0;

    .catalog__sidebar-accent {
      position: relative;
      flex: 1;
      text-align: center;
      color: $whitePrimary;
      font-size: 14px;
      line-height: 1.5;
      padding: 5px 19px;
      margin: 0 12px;
    }

    .catalog__sidebar-accent:after {
      content: '';
      position: absolute;
      top: 50%;
      left: calc(100% + 4px);
      margin-top: -1px;
      width: 16px;
      height: 1px;
      background-color: rgba($whitePrimary, 0.2);
    }

    .catalog__sidebar-accent:last-child::after {
      display: none;
    }
  }

  &-accent {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }

  &-accent--sm {
    min-width: 31px;
    text-align: center;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.004em;
    color: rgba(255, 255, 255, 0.7);
    padding: 4px 0;
  }

  &-more {
    text-decoration: none;
    color: $orangePrimary;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.004em;
  }

  &-more:hover {
    text-decoration: underline;
  }
}
</style>