<template>
  <label class="form-checkbox">
    <input type="checkbox" class="form-checkbox__input">
    <div class="form-checkbox__custom"></div>
    <div class="form-checkbox__caption">{{caption}}</div>
  </label>
</template>

<script>
export default {
  props: ['caption']
}
</script>

<style lang='scss' scoped>
.form-checkbox {
  cursor: pointer;
  display: flex;
  margin-bottom: 24px;

  &__input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -9999px;
  }

  &__custom {
    width: 17px;
    height: 17px;
    border: 1px solid rgba(255, 255, 255, 0.56);
    border-radius: 2px;
    margin-top: 2px;
    margin-right: 19px;
  }

  &__input:checked + .form-checkbox__custom {
    border-color: transparent;
    background-image: url("../../assets/images/checked.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__caption {
    font-size: 16px;
    line-height: 1.4;
    color: $whitePrimary;
  }
}
</style>