<template>
  <div class="form-slider">
    <vue-slider v-model="sliderValue" :tooltip="'none'" :min="min" :max="max" :interval="interval" :enable-cross="false"></vue-slider>
  </div>
</template>

<script>
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/antd.css'

export default {
  components: {
    VueSlider
  },
  props: {
    value: {
      type: [Array, String],
      default: () => {
        return [10, 100]
      }
    },
    min: {
      type: Number,
      default: () => {
        return 0
      }
    },
    max: {
      type: Number,
      default: () => {
        return 100
      }
    },
    interval: {
      type: Number,
      default: () => {
        return 1
      }
    }
  },
  data: function() {
    return {
      sliderValue: this.value,
    }
  },
  watch: {
    sliderValue: function (val) {
      this.$emit('sliderParam', val);
    }
  },
}
</script>

<style lang="scss">
.form-slider {
  margin-bottom: 20px;

  .vue-slider-rail {
    height: 16px;
    background: rgba($whitePrimary, 0.2);
    border-radius: 24px;
  }

  .vue-slider-process {
    background: rgba($whitePrimary, 0.7);
    border-radius: 0;
  }

  .vue-slider-dot {
    width: 16px !important;
    height: 16px !important;
  }
  .vue-slider-dot-handle {
    border: 0;
    background: $whitePrimary;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
  }
  .vue-slider:hover .vue-slider-rail {
    background: rgba($whitePrimary, 0.2);
  }

  .vue-slider:hover .vue-slider-process{
    background: rgba($whitePrimary, 0.7);
  } 
}
</style>