<template>
  <select class="form-select">
    <option value="fdsfsf">По алфавиту</option>
    <option value="fdsfsf">sfdfs</option>
    <option value="fdsfsf">sfdfs</option>
  </select>
</template>

<script>
export default {
  props: ['caption']
}
</script>

<style lang='scss' scoped>

</style>