<template>
  <div class="home">
    <Title title="Каталог квартир в Хамовниках" />
    <Catalog />
  </div>
</template>

<script>
import Title from '@/components/AppTitle.vue'
import Catalog from '@/components/catalog/index.vue'

export default {
  name: 'Home',
  components: {
    Title,
    Catalog
  }
}
</script>
