<template>
  <div class="container">
    <h1 class="page-title">{{title}}</h1>
  </div>
</template>

<script>
export default {
  props: ['title']
}
</script>

<style lang="scss" scoped>
.page-title {
  max-width: 920px;
  margin: 40px auto 40px;
  text-align: center;
  font-family: $accentFamily;
  color: $greyPrimary;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}
</style>