<template>
  <div class="social">
    <a href="" class="social__link">
      <!-- Было бы неполохо подгружать иконки как спрайт. -->
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.61 4.11L2.88999 10.94C1.67999 11.43 1.68999 12.1 2.66999 12.4L7.21999 13.82L17.74 7.18C18.24 6.88 18.74 7.04 18.32 7.37L9.78999 15.07L9.47999 19.76C9.65811 19.7577 9.83342 19.7152 9.99275 19.6355C10.1521 19.5559 10.2913 19.4411 10.4 19.3L12.61 17.15L17.2 20.55C18.05 21.01 18.66 20.77 18.87 19.76L21.87 5.54C22.2 4.31 21.42 3.74 20.61 4.11Z" fill="#52A7E3"/>
      </svg>
    </a>
    <a href="" class="social__link">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.0828 4.90805C17.2065 3.03112 14.7047 2 12.0406 2C6.55478 2 2.08594 6.44761 2.08116 11.9073C2.08116 13.656 2.53951 15.3571 3.40845 16.8634L2 22L7.28049 20.622C8.73669 21.4108 10.3743 21.8289 12.0406 21.8289H12.0454C17.5311 21.8289 22 17.3813 22.0048 11.9168C22 9.27014 20.9639 6.78023 19.0828 4.90805ZM12.0406 20.1516C10.551 20.1516 9.09477 19.7524 7.82478 19.0017L7.52399 18.8211L4.39198 19.6384L5.2275 16.5973L5.03175 16.2837C4.201 14.9722 3.76653 13.4564 3.76653 11.9026C3.76653 7.36945 7.48102 3.67261 12.0454 3.67261C14.2559 3.67261 16.3328 4.53267 17.8988 6.08648C19.46 7.64505 20.3194 9.71205 20.3194 11.9121C20.3146 16.4595 16.6001 20.1516 12.0406 20.1516ZM16.581 13.9838C16.3328 13.8603 15.1105 13.2616 14.8813 13.1761C14.6522 13.0953 14.4851 13.0525 14.3227 13.2996C14.1556 13.5467 13.6782 14.1074 13.535 14.2689C13.3917 14.4353 13.2437 14.4543 12.9955 14.3307C12.7472 14.2072 11.9451 13.9458 10.995 13.1C10.2549 12.4443 9.75841 11.6317 9.6104 11.3847C9.46717 11.1376 9.59608 11.0045 9.72022 10.881C9.83003 10.7717 9.96849 10.5911 10.0926 10.4486C10.2168 10.306 10.2597 10.2015 10.3409 10.0352C10.4221 9.86885 10.3839 9.7263 10.3218 9.60276C10.2597 9.47921 9.76319 8.25802 9.55311 7.76384C9.35259 7.27916 9.14729 7.34569 8.99451 7.34094C8.85127 7.33143 8.68417 7.33143 8.51707 7.33143C8.34996 7.33143 8.08259 7.3932 7.85342 7.64029C7.62425 7.88738 6.98448 8.4861 6.98448 9.70729C6.98448 10.9285 7.8773 12.1022 8.00143 12.2685C8.12556 12.4348 9.75364 14.9342 12.2507 16.0081C12.8427 16.2647 13.3058 16.4167 13.6687 16.5308C14.2655 16.7208 14.805 16.6923 15.2347 16.6306C15.7121 16.5593 16.7052 16.0318 16.9152 15.4521C17.1205 14.8724 17.1205 14.3782 17.0585 14.2737C16.9964 14.1692 16.8293 14.1074 16.581 13.9838Z" fill="#66CE5C"/>
      </svg>
    </a>
  </div>
</template>

<style lang="scss" scoped>
.social {
  display: flex;
  &__link {
    padding: 14px;
  }
}
</style>