<template>
  <div class="tabs">
    <a href="" class="tabs__link tabs__link--active">квартиры</a>
    <a href="" class="tabs__link">комплексы</a>
  </div>
</template>

<script>
export default {
}
</script>


<style lang="scss" scoped>
.tabs {
  display: flex;
  margin: 0 -20px 40px;

  &__link {
    position: relative;
    text-decoration: none;
    font-family: $accentFamily;
    color: $bronsePrimary;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0 20px;
    transition: $primaryTransition;
  }

  &__link:after {
    opacity: 0;
    visibility: hidden;
    content: '';
    position: absolute;
    width: 44px;
    height: 3px;
    left: calc(50% - 44px/2);
    bottom: -16px;
    background: $bronsePrimary;
    border-radius: 24px;
    transition: $primaryTransition;
  }

  &__link:hover {
    color: $greyPrimary;

    // &:after {
    //   opacity: 1;
    //   visibility: visible;
    // }
  }

  &__link--active {
    color: $greyPrimary;

    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}
</style>