.btn {
  cursor: pointer;
  display: inline-block;
  transition: $primaryTransition;

  &__icon {
    transition: $primaryTransition;
    margin-right: 8px;
  }

  &--primary {
    color: $whitePrimary;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.004em;
    background: $orangePrimary;
    border: 2px solid $orangePrimary;
    border-radius: 48px;
    padding: 12px 20px;
  }

  &--primary:hover {
    color: $orangePrimary;
    background-color: transparent;
  }
  
  &--default {
    color: $orangePrimary;    
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.004em;
    border: 2px solid rgba($orangePrimary, 0.32);
    border-radius: 32px;
    background-color: transparent;
    padding: 12px 20px;
  }

  &--default:hover {
    border-color: $orangePrimary;
  }

  &--secondary {
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.004em;  
    color: rgba($whitePrimary, 0.7);
    border: 2px solid rgba($whitePrimary, 0.2);
    border-radius: 32px;
    padding: 10px 15px 10px;

    &.btn--sm {
      border-width: 1px;
      font-size: 16px;
      font-weight: 400;
      padding: 3px 15px;
    }

    .btn__icon {
      fill: rgba($whitePrimary, 0.7);
    }
  }

  &--secondary:active,
  &--secondary.active {
    background-color: $whitePrimary;
    color: $jeansPrimary;

    .btn__icon {
      fill: $jeansPrimary;
    }

    &:hover {
      color: $jeansPrimary;
      .btn__icon {
        fill: $jeansPrimary;
      }
    }
  }

  &--secondary:hover {
    border-color: $whitePrimary;
    color: $whitePrimary;

    .btn__icon {
      fill: $whitePrimary;
    }
  }

  &--sm {
    padding: 10px 15px;
  }

  &--has-icon {
    display: flex;
    align-items: center;
  }
}