$whitePrimary: #FFFFFF;
$greyPrimary: #151513;
$greyMedium: #5C5A55;
$greyLight: #E3E0DA;
$greyUltraLight: #F0F0F0;
$jeansPrimary: #343C59;
$orangePrimary: #FC620F;
$bronsePrimary: #B28672;
$shadowPrimary: 0px 45px 109px rgba(0, 0, 0, 0.1), 0px 10.0513px 24.3466px rgba(0, 0, 0, 0.0596107), 0px 2.99255px 7.24861px rgba(0, 0, 0, 0.0403893);
$primaryTransition: all 0.3s ease-in-out;
$accentFamily: 'Tenor Sans', sans-serif;