<template>
  <div id="app">
    <Header />
    <router-view/>
    <Footer />
  </div>
</template>

<script>
import Header from '@/components/AppHeader.vue'
import Footer from '@/components/AppFooter.vue'

export default {
  components: {
    Header,
    Footer
  }
}
</script>

<style lang="scss">
body {
  margin: 0;
}

.container {
  max-width: 1120px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1366px;
  padding: 0 24px;
  margin: 0 auto;
}

#app {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #151513;
}

</style>
